<div class="userlist">
<h1> Here is a list of all the users:</h1>
<ul>
 <% for (user in usermodel) { %>
 <li class="user">ID: <%= usermodel[user].id %></li>
        <li class="user">Username: <%= usermodel[user].name %></li>
</div>
